@define-color bar-bg rgba(213,222,231,0.01);
@define-color main-bg rgba(213,222,231,0.8);
@define-color main-fg rgba(58,82,107,0.8);
@define-color wb-act-bg rgba(100,124,141,0.4);
@define-color wb-act-fg rgba(41,65,82,1);
@define-color wb-hvr-bg rgba(154,200,230,0.4);
@define-color wb-hvr-fg rgba(58,85,107,0.8);
