* {
    main-bg:            #D5DEE7B3;
    main-fg:            #293D52E6;
    main-br:            #8CA0B0E6;
    main-ex:            #B3C4CFE6;
    select-bg:          #3A576B80;
    select-fg:          #CCEAFFE6;
}
